{{outlet}}

{{#if showStatus}}
<div class="row">
  <div class="col s5 offset-s1">
    <table>
      <thead>
        <tr>
          <th>Users</th>
          <th>Today items</th>
          <th>Spent</th>
          <th>Total items</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{session.content.secure.email}}</td>
          <td>{{myTodayItemsCount}}</td>
          <td>{{moment-duration myTodayItemsDuration}}</td>
          <td>{{myItemsCount}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{{/if}}

<table class="bordered ember-view">
<thead>
  <tr>
      <th>By</th>
      <th>Action</th>
      <th>Work Item</th>
      <th>Start at</th>
      <th>Finish at</th>
      <th>Duration</th>
      <th>Ticket#</th>
      <th>Belong category</th>
  </tr>
</thead>
<tbody>
{{#each model as |item|}}
  {{item-row
    sessionEmail=session.content.secure.email
    item=item
    itemEmail=item.user.email
  }}
{{/each}}
</tbody>
</table>