{{outlet}}

<table class="bordered ember-view">
<thead>
  <tr>
      <th>Action</th>
      <th>Work Item</th>
      <th>By</th>
      <th>Start at</th>
      <th>Finish at</th>
      <th>Duration</th>
      <th>Ticket#</th>
      <th>Belong category</th>
  </tr>
</thead>
<tbody>
{{#each model as |item|}}
  <tr>
    <td>
      <button type="button" {{action "remove" item}}>
        <i class="mdi-content-remove-circle"></i>
      </button>
    </td>
    <td>{{item.workitem}}</td>
    <td>{{item.user.email}}</td>
    <td>{{item.startSince}}</td>
    <td>{{item.endSince}}</td>
    <td>{{item.durationMoment}}</td>
    <td>{{item.ticketnumber}}</td>
    <td>{{item.category}}</td>
  </tr>
{{/each}}
</tbody>
</table>