<td>
{{#if canRemove}}
  <button type="button" {{action "remove" item}}>
    <i class="mdi-content-remove-circle"></i>
  </button>
{{/if}}
</td>
<td>{{workitem}}</td>
<td>{{email}}</td>
<td>{{startSince}}</td>
<td>{{endSince}}</td>
<td>{{durationMoment}}</td>
<td>{{ticketnumber}}</td>
<td>{{category}}</td>