<td>
{{#if canRemove}}
  <button type="button" {{action "remove" item}}>
    <i class="mdi-content-remove-circle"></i>
  </button>
{{/if}}
</td>
<td>{{item.workitem}}</td>
<td>{{itemEmail}}</td>
<td>{{item.startSince}}</td>
<td>{{item.endSince}}</td>
<td>{{item.durationMoment}}</td>
<td>{{item.ticketnumber}}</td>
<td>{{item.category}}</td>