{{#paper-content classNames="md-whiteframe-z1 list-demo"}}

{{outlet}}
    {{#paper-list}}
        {{#each model as |article|}}
            {{#paper-item class="md-4-line"}}
              <div class="md-list-item-text">
                    <span  class="upvote"{{action 'upvote' article}}>
                        {{paper-icon icon="arrow-drop-up" size=2}}</span>
                    <span class="vote-count">
                        {{#if article.votes}}
                            {{article.votes}}
                        {{else}}
                            0
                        {{/if}}
                    </span>
                    <a class="article-link" href={{unbound article.url}}>{{article.title}}</a>
                    <p>
                        submitted by {{article.user.email}}
                    </p>
              </div>
            {{/paper-item}}
        {{/each}}
    {{/paper-list}}
{{/paper-content}}
